.container {
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  
  .container div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row1 {
    height: 750t;
    background-color: red;
  }
  
  .row2 {
    background-color: blue;
  }
  
  .row3 {
    background-color: green;
  }
  
  .row4 {
    background-color: yellow;
  }

  